.mainContainer {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #666666;
  margin-bottom: 40px;
}
.detailsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 3px solid #666666;
  border-right: 3px solid #666666;
  flex-direction: column;
  width: 25%;
}
.holder {
  display: flex;
  width: 100%;
  justify-content: center;
}
.for {
  color: #111111;
  font-weight: bold;
}
.info {
  color: #666666;
}
.detailsMore {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-weight: 700;
  width: 25%;
}
.productBtnC {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.productBtnC button {
  width: 200px;
  height: 40px;
  cursor: pointer;
  background-color: #0081ef;
  font-size: 16px;
  color: #fff;
  border: 2px solid #0081ef;
  border-radius: 5px;
  transition: 0.2s ease-in;
  font-weight: bold;
}
.productBtnC button:hover {
  background-color: #fff;
  color: #111111;
}

@media screen and (max-width: 1288px) {
  .details {
    width: 50%;
    border-right: none;
  }
  .detailsMore {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .details {
    border-left: none;
    border-right: 3px solid #666666;
  }
  .detailsMore {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 416px) {
  .detailsMore {
    font-size: 14px;
  }
}
