.mainContainer {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.selectContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.selectContainer select {
  width: 120px;
  height: 40px;
  font-weight: 100;
  font-size: 14px;
  border: none;
  outline: none;
  border: 2px solid #0081ef;
  border-radius: 5px;
  background-color: #111111;
  color: #fff;
  text-align: center;
}

.searchC {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.info {
  padding-left: 10px;
  font-weight: bold;
  color: #666666;
}
.info p {
  border-bottom: 2px solid #0081ef;
}
.fieldE {
  width: 100%;
  color: #fff;
  outline: none;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #111111;
  height: 40px;
  font-size: 16px;
  text-transform: lowercase;
}

.fieldE::placeholder {
  text-align: center;
}

@media screen and (max-width: 733px) {
  .mainContainer {
    flex-direction: column;
  }
  .selectContainer {
    width: 100%;
  }
}
