.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #111111;
  color: #fff;
  border-radius: 5px;
}
.listT {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.listT li {
  width: 100%;
  text-align: center;
  list-style: none;
  font-weight: bold;
}
