.mainContainer {
  width: 100%;
}
.searchC {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.fieldE {
  width: 100%;
  color: #fff;
  outline: none;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #111111;
  height: 40px;
  font-size: 16px;
  text-transform: lowercase;
}

.fieldE::placeholder {
  text-align: center;
}
